<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avo.www.repository.LikeListDAO">
   <select id="getTotalLikeCount" resultType="int">
		SELECT COUNT(*) FROM product p
			JOIN product_like pl ON p.pro_bno = pl.li_bno
			WHERE pl.li_status = 1
			AND pl.li_user_id = #{liUserId}
			<if test="pgvo.type != 'undefined'">
			AND p.pro_category = #{pgvo.type}
			</if>
   </select>
   
	<select id="getMoreLikeList" resultType="pbvo">
	    SELECT * FROM product WHERE pro_is_del = 'N' AND pro_like_cnt > 0
	        AND pro_bno IN 
	            (SELECT li_bno FROM product_like WHERE li_user_id = #{liUserId})
	    <include refid="menuSelect"></include>
	    limit #{pgvo.pageStart}, #{pgvo.qty}
	</select>
	<select id="getLikeList" resultType="com.avo.www.domain.LikeItemVO">
		select * from product_like where li_status = 1 and li_user_id = #{liUserId}
	</select>

	
<sql id="menuSelect">
    <if test="pgvo.type != null">
        <trim prefix="and (" suffix=")" prefixOverrides="OR">
            <trim prefix="OR">
                <choose>
                    <when test="pgvo.type == 'joongo'.toString()">
                        pro_category like 'joongo'
                    </when>
                    <when test="pgvo.type == 'store'.toString()">
                        pro_category like 'store'
                    </when>
                    <when test="pgvo.type == 'job'.toString()">
                        pro_category like 'job'
                    </when>
                </choose>
            </trim>
        </trim>
    </if>
</sql>

	
</mapper>