.bodyContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* 배너 */
#carouselExample{
    width: 100%;
    height: 300px;
}
.carousel-inner, .carousel-item, .bannerImgs{
    width: 100%;
    height: 100%;
}
#bannerPrevBtn{
    padding-right: 110px;
}
#bannerNextBtn{
    padding-left: 110px;
}

/* 공통 */
.boardListLine{
    width: 100%;
    margin-top: 70px;
}
.ListLineTop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.ListLineTop p{
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}
.ListLineTop a{
    color: gray;
    text-decoration: none;
    font-size: 14px;
}
.ListLineMiddle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
}

/* 중고거래 라인 */
.joongo_item{
    width: 233px;
    border: 1px solid #ededed;
    border-radius: 5px;
}
.joongo_item a{
    color: black;
    text-decoration: none;
}
.joongo_item img{
    background-color: green;
    width: 100%;
    height: 233px;
    border-radius: 5px 5px 0 0;
}
.joongo_item_detail{
    padding: 15px;
   /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;*/
}
.joongo_item_detail p{
    margin: 0;
}
.joongo_item_detail p:nth-child(1){
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 5px;
}
.joongo_item_detail p:nth-child(2){
    font-size: 18px;
    margin-bottom: 5px;
}
.joongo_item_detail p:nth-child(3){
    font-size: 12px;
    color: gray;
}

/* 동네업체 라인 */
.store_item{
    width: 400px;
    height: 160px;
    margin-bottom: 20px;
    border: 1px solid #ededed;
    border-radius: 5px;
}
.store_item a{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
}
.store_item_img{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.store_item_img img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: none;
}
.store_item_detail{
    width: 60%;
    height: 100%;
    position: relative;
    padding: 20px;
}
.store_item_detail p{
    margin: 0;
}
.store_item_detail p:nth-child(1){
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}
.store_item_detail p:nth-child(2){
    font-size: 15px;
    margin-bottom: 5px;
}
.store_item_detail p:nth-child(3){
    font-size: 12px;
    color: gray;
    position: absolute;
       bottom: 30;
}

/* 동네소식 라인 */
.community_list{
    width: 310px;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
.community_list a{
    color: black;
    text-decoration: none;
}
.cm_first{
    margin-bottom: 5px;
}
.cm_first span{
    color: green;
    font-size: 14px;
    margin-right: 5px;
}
.cm_first p{
    display: inline;
    font-size: 14px;
}
.cm_second{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 13px;
    color: gray;
}
.cm_second span:not(:nth-child(5)) {
    margin-right: 5px;
}
.cm_second i{
    font-size: 12px;
    margin-right: 2px;
}
.cmLikeListLine{
    margin-bottom: 70px;
}

/* 앱스토어 배너 */
.appStoreLine{
    width: 100%;
    height: 400px;
    background-color: green;
    margin-bottom: 40px;
    font-family: 'suit';
    display: flex;
    justify-content: center;
}
.appStoreInner{
    padding-top: 60px;
    width: 900px;
    background-image: url(../image/avocartLogo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.appStoreInner p:nth-child(1) {
    font-size: 35px;
    font-weight: 800;
}
.appStoreInner p:nth-child(2) {
    font-size: 20px;
    margin-bottom: 50px;
}
.appStoreInner button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
}